* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-Bold.ttf);
}

body {
  font-family: Nunito, sans-serif;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo {
  position: absolute;
  top: 27px;
  left: calc(50% - 130px);
}

.main__container {
  display: flex;
}


.main__registration {
  padding: 194px 41px 191px 63px;
  max-width: 600px;
}

.main__title {
  color: #000;
  font-size: 36px;
  margin-bottom: 7px;
}

.main__description {
  color: #636363;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 42px;
  height: 81px;
}

.full_name,
.user_name,
.user_mail,
.user_password,
.user_repeat_password {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 60px;
}

.label-input {
  color: #C6C6C4;
  font-size: 16px;
  line-height: 27px;
}

.base-input {
  border: none;
  border-bottom: 1px solid #C6C6C4;
  max-width: 452px;
  height: 30px;
  color: #323232;
  font-size: 20px;
  outline: none;
}

.base-input::placeholder {
  color: #323232;
  font-size: 20px;
}

.user_confirmation {
  padding-top: 10px;
  color: #636363;
  font-size: 16px;
  line-height: 27px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-bottom: 40px;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #636363;
  border-radius: 3px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150% 150%;
}

.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url(../images/checkbox/checkmark-thicker-1.svg)
}


.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}


.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}


.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.25);
}


.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}


.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

.user_sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 452px;
}

.user_sign-button {
  width: 210px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #DD3142;
  border: none;
  color: #FFF;
  font-size: 20px;
  margin-bottom: 44px;
  cursor: pointer;
}

.user_authorization {
  max-width: 452px;
  text-align: center;
}

.user_authorization-link {
  color: #636363;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
}

.main__image {
  background-color: #F8F8FA;
  max-width: 600px;
  padding: 254px 46px 331px 11px;
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #F8F8FA;
  width: 400px;
  padding: 25px;
  transition: 0.5s all;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 20px;
}

.popup__text {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.popup__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #DD3142;
  border: none;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
}